---
# Copyright The Conforma Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: Update go-containerregistry

"on":
  workflow_dispatch:
  schedule:
    # Mondays at 9:30 AM
    - cron: "30 9 * * 1"

permissions:
  contents: read

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: main
          path: '**'

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: go.mod
          cache: false

      - name: update
        run: |
          go mod edit -replace github.com/google/go-containerregistry=github.com/conforma/go-containerregistry@main
          go mod tidy
        env:
          # Hack to ensure this repo is always updated, see:
          #   https://github.com/golang/go/issues/45413
          GOPRIVATE: github.com/conforma/go-containerregistry

      - uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        id: generate-token
        with:
          app-id: ${{ vars.EC_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.EC_AUTOMATION_KEY }}

      - name: pull-request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          add-paths: |
            go.mod
            go.sum
          branch: ci/update-go-containerregistry
          commit-message: Bump conforma/go-containerregistry
          sign-commits: true
          signoff: true
          title: Bump conforma/go-containerregistry
          # We could use secrets.GITHUB_TOKEN here. That token is generated on-demand for any
          # workflow by GitHub. However, actions performed when using that token do not trigger
          # other events. So if we create a pull_request, it won't trigger all the CI checks. More:
          # https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/triggering-a-workflow#triggering-a-workflow-from-a-workflow
          token: ${{ steps.generate-token.outputs.token }}
